<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table, th, td {
          border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Zonas reservadas : </p>
    <p>
      <table style="width:100%">
        <tr>
          <th>#</th>
          <th>id</th>
          <th>Tipo de visita</th>
          <th>Profesor principal</th>
          <th>Alumno</th>
          <th>Zonas</th>
          <th>Costos</th>
          <th>Borrar</th>
        </tr>
          <% for(var i=0; i<reservations.length; i++){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= reservations[i].student_id %></td>
              <td><%= reservations[i].visit_type_code %></td>
              <td><%= reservations[i].principal_teacher %></td>
              <td><%= reservations[i].name %></td>
              <td><%= reservations[i].dino_names %></td>
              <td><%= reservations[i].costs %></td>
              <% if(reservations[i].student_id){ %>
                <td><a href="/reservations/<%= reservation_id %>/students/<%= reservations[i].student_id %>/delete">Borrar</a></td>
              <% }else{ %>
                <td></td>
              <% } %>
            </tr>
          <% } %>
      </table>
    </p>
    <p>Grupos:</p>
      <% for(var i=0; i<grades.length; i++){ %>
        <p>
          <a href="/reserve_zones/<%= grades[i].id %>/new_student">Añadir alumno a <%= grades[i].grade %></a>
          <a href="/reserve_zones/<%= grades[i].id %>/new_visit">Añadir zona a <%= grades[i].grade %></a>
          <a href="/reserve_zones/<%= grades[i].id %>/delete_visit">Borrar zona de <%= grades[i].grade %></a>
        </p>
      <% } %>
    <p><a href="/reservations/<%= reservation_id %>/new_grade">Nuevo grado</a></p>
  </body>
</html>
