<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      table, th, td {
          border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Zonas reservadas : </p>
    <p>
      <table style="width:100%">
        <tr>
          <th>#</th>
          <th>id</th>
          <th>Tipo de visita</th>
          <th>Profesor principal</th>
          <th>Alumno</th>
          <th>Zonas</th>
          <th>Costos</th>
          <th>Cobrar</th>
        </tr>
          <% for(var i=0; i<reservations.length; i++){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= reservations[i].student_id %></td>
              <td><%= reservations[i].visit_type_code %></td>
              <td><%= reservations[i].principal_teacher %></td>
              <td><%= reservations[i].name %></td>
              <td><%= reservations[i].dino_names %></td>
              <td><%= reservations[i].costs %></td>
              <td><a href="/student/<%= reservations[i].student_id %>/collect">Cobrar</a></td>
            </tr>
          <% } %>
      </table>
    </p>
    <p>Grupos:</p>
    <p>
      <table style="width:100%">
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Añadir Alumno</th>
        </tr>
          <% for(var i=0; i<grades.length; i++){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= grades[i].grade %></td>

              <td><a href="/reservation/<%= reservation_id %>/new_student">Añadir</a></td>
            </tr>
          <% } %>
      </table>
    </p>
    <p><a href="/reservation/<%= reservation_id %>/grade">Nuevo grado</a></p>
  </body>
</html>
